body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: sans-serif;
}

.demo-layout-transparent {
    display: table;
    /* width: 100%; */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('food.jpeg') center/cover;
    background-position: center top;
    height: 100vh;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 70%;
}

h2 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.space_between {
    display: flex;
    justify-content: space-around;
}

.bottom_content {
    margin-top: 20%;
    background-color: white;
    display: block;
}

.main_container_info {
    margin-top: 100px;
}

.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-layout-title {
    font-size: 1.7em;
}

.main_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    width: 100%;
    color: rgba(0, 0, 0, .54);
}

.demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #2d539f;
    margin-top: 15px;
}

.demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title {
    align-items: flex-start;
}

.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}

.demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}

.like, .dislike, .cancel {
    background: #36474F;
}

.like:hover {
    background: #37a838;
}

.dislike:hover {
    background: #bf0000;
}

.cancel:hover {
    background: #6d6d6e;
}

#recipe_img {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background: red;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.img_container {
    padding-bottom: 40px;
}

.dish_picture {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 100%;
}

#edit {
    background: #2d539f;
    margin-right: 10px;
}

#delete {
    background: darkred;
}

.signup {
    margin-right: 5px;
}

.signin {
    margin-left: 5px;
}

#refresh {
    background: #2d539f;
}

#add {
    background: #37a838;
}